body {
    background:rgba(245, 222, 179, 0.534);
    background-position: cover;  
    }

nav{
      margin: 30px;
      float:right;
      color:grey;
      overflow: auto; 
    }

h1{
     text-transform: capitalize;
     background-color: #4aaaa5; 
     color:white; 
     margin-bottom: 30px;
     margin-top: 0px;
     padding: 16px 8px 16px 8px;
     width: 150px;
     text-align: center;
     display: inline-block;
     font-family:'Times New Roman', Times, serif;
    }
 
.wrapper{
       width:700px;
       padding: 10px;
       background: white;
       font-family:'Times New Roman', Times, serif;
       position: center;
       margin: auto;
    }
.wrapper h2{
    text-transform: capitalize;
    color: #4aaaa5;
}
nav{
    float: right;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style:none;
    display: inline-block;
}
nav il{
    display: inline-block;

}
footer {
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: black;
    color:white;
    font-size: xx-small;
    padding: 10px 10px 0px 10px ;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}

